<% layout('/layouts/boilerplate') %> 

    <h1 class="text-center">All Campgrounds</h1>
    

    <% for(let campground of campgrounds){ %>
      <div class="card mb-3 mx-auto" style="width: 45rem;">
        <div class="card-header">
          <h5 class="card-title"><%= campground.title %></h5>
        </div>
        <div class="row g-0">
          <div class="col-md-4 d-flex">
            <img src="<%= campground.image %>" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
             
              <p class="card-text"><%= campground.description %></p>
              <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary ">Show</a>
            </div>
           
          </div>
        </div>
      </div>
    <% } %>  
   


   
   
  
